/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
   
}


/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 50px;
}